{% extends 'hsmoms/patient/base.html' %}


{% block content %}
    <h6 class="text-muted">My Prescriptions</h6>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Illness</th>
                    <th>Medication</th>
                    <th>Dosage</th>
                    <th>Instructions</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for prescription in prescriptions %}
                <tr>
                    <td>{{ prescription.id }}</td>
                    <td>{{ prescription.medical_history_id.illnes }}</td>
                    <td>{{ prescription.medication }}</td>
                    <td>{{ prescription.dosage }}</td>
                    <td>{{ prescription.instructions }}</td>
                    <td>{{ prescription.status }}</td>
                    <td>
                        <a href="{% url 'feedback' pk=prescription.id %}" class="btn btn-primary">Send Feedback</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No prescriptions found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}
    